
.el-table, .el-table__expanded-cell {
  background-color: rgba(63, 92, 109, 0);
}

.special_table td, .special_table th.is-leaf {
  border-bottom: 1px solid #3f9394;
  border-right: 1px solid #3f9394;
}

.special_table tr ,.special_table td{
  border-bottom: 1px solid #3f9394;
  border-right: 1px solid #3f9394;
}

.el-table--border{
  border-left:1px solid  rgba(0,100,106,.8);
  border-top: 1px solid  rgba(0,100,106,.8);
}
.special_table th, .special_table tr {
  background:rgb(6, 42, 88,0) !important;
  color: #a9e0e0;
  font-size: 14px;
  font-weight: normal;
}
.el-table thead {
  background-color: rgb(0, 69, 160);
}
.el-table td, .el-table th{
  padding: 10px;
  text-align: center;
}
.el-table--border th.gutter:last-of-type {
  border-bottom: 1px solid #3f9394;
}

.special_table::before {
  background-color: rgba(63, 147, 148,.1);
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
  background:rgba(0,254,255,0.1);
}