::-webkit-scrollbar { 
    width: 10px;
    height: 2px;
  }
  ::-webkit-scrollbar-thumb { 
    border-radius: 7px;
    background: #0086ec;
  }
  ::-webkit-scrollbar-track{ 
    background:rgba(0,254,255,0.1);
    border-radius: 3px;
  }

  .scroller {
    scrollbar-color: transparent transparent;
    scrollbar-track-color: transparent;
  }

  .scroller {
    scrollbar-base-color: #134087;
    scrollbar-3dlight-color:#134087;
    scrollbar-highlight-color: #134087;
    scrollbar-track-color: red;
  }